CF-evaluate

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

.~*
*~

.tmp_*


/analysis/out/
/analysis/faces/
#/analysis/csv/
/analysis/csv/img/*

*.nddb
*.jpg

\#*
\.#*
