/* General */


/* Creation */


/*
table#cf_table {
  border: 1px solid #CCC;
}

table#cf_table td {
  border: 1px solid #CCC;
  vertical-align: top;
  width: 200px;
  padding: 5px;
}
*/

table {
  border: 0;
}

div#creation {
  float: left;
  width: 58%;
  height: 550px;
  overflow-y: auto;
}

div#ph button{
  width: 100px;
}


table#cf_table td {
  vertical-align: top;
  padding: 5px;
}


div#creation canvas {
  border: 3px solid #CCC;
  padding: 5px;
  background: white;
}

table#cf_table td div{
  border: 0;
}


/* Submission */

dl#sub_list{
  margin: 0 auto;
}

span#text_sub_list {
  margin-bottom: 25px;
}


dl#sub_list dt{
  display: inline;
}

#sub_list button {
  width: 100px;
  height: 100px;
  margin: 10px;
}


/* Right Part */

div#container {
  float: right;
  height: 550px;
  width: 40%;
  border: 0;
  background: white;
}

div#history {
  height: 435px;
  vertical-align: top;
  margin-bottom: 10px;
  overflow-y: auto;
}

div#done_box {
  height: 100px;
}

div#done_box button{
  height: 100%;
  width: 100%;
	font-size: 20px;
}
