/* General */


/* Creation */


/*
table#cf_table {
  border: 1px solid #CCC;
}

table#cf_table td {
  border: 1px solid #CCC;
  vertical-align: top;
  width: 200px;
  padding: 5px;
}
*/

div#cf {
  border: 0;
}

table {
  border: 0;
}

div#container_creation {
	float: left;
	background: white;
	border: 0;
}

div#creation {
  width: 800px;
  height: 550px;
}

div#ph button{
  width: 100px;
}


table#cf_table td {
  vertical-align: top;
  padding: 5px;
}

table#cf_table td div{
  border: 0;
}

canvas#cf_canvas {
	margin: 0 auto;
}

/* Sliders */

table#cf_table td div div{
	width: 220px;
	height: 3px;
	margin-top: 3px;
	margin-bottom: 5px;
}

/* Undo/Redo */

/* WHY IS IT NOT WORKING?? */
table#cf_table div#undoredo {
	border: 5 dashed blue;
	padding: 3px;
}

/* Submission */

dl#sub_list{
  margin: 0 auto;
}

span#text_sub_list {
  margin-bottom: 25px;
}


dl#sub_list dt{
  display: inline;
}

#sub_list button {
  width: 100px;
  height: 100px;
  margin: 10px;
}


/* Right Part */

div#container_history {
  float: right;
  height: 530px;
  width: 40%;
  border: 0;
	padding:0;
  background: white;
}

div#history {
  height: 435px;
  vertical-align: top;
  margin-bottom: 10px;
  overflow-y: auto;
}

div#done_box {
  height: 100px;
	padding: 0;
}

div#done_box button{
  height: 100%;
  width: 100%;
	font-size: 20px;
}

/* Exhibitions */


dl#all_ex  {
  margin: 0;
	font-weight: bold;
	font-size: 20px;
}

dl#all_ex dt {
	margin-top: 20px;
  padding: 5px 3px 3px 10px;
	background: #CCC;
	color: #333;
	font-size: 14px;
	font-weight: normal;
}

dl#all_ex dd {
  padding: 0;
	margin: 0;
  /*border: 1px solid #CCC;*/
	font-size: 14px;
	font-weight: normal;
	
}


dl#all_ex dt canvas{
  margin: 0;
}

table.exhibition th {
	/*width: 350px;*/
	height: 30px;
	font-size: 16px;
}

table.exhibition td {
  width: 105px;
	margin-bottom: 5px;
}


dl#all_ex table tr {
  padding: 0;
	margin: 0;
	text-align: center;
  padding: 0;
  margin: 0;
  /*width: 120px;*/
  border-right: 3px solid #CCC;
	border-bottom: 1px solid #CCC;
  
}


dl#all_ex table td:last-child {
  border-right: 0;
}

dl#all_ex table td div {
	padding: 0;
	border: 0;
	margin: 0;
  /*width: 60px;*/
}




