div#history {
  float: right;
  overflow-y: auto;
  border-left: 1px solid #CCC;
}

div#creation {
  border: 1px solid green;
  float: left;
  width: 58%;
  height: 500px;
  overflow-y: auto;
}

table#cf_table {
  border: 1px solid #CCC;
}

table#cf_table td {
  border: 1px solid #CCC;
  vertical-align: top;
  width: 200px;
}

/* Submission */

dl#submission dt{
  display: inline;
}

#submission button {
  width: 100px;
  height: 100px;
  margin: 10px;
}

div#history {
  float: right;
  width: 40%;
  height: 800px;
  border: 1px solid #CCC;
  border-left: 5px solid #CCC;
  vertical-align: top;
}

div#container {
  border: 1 px dashed red;
}