div#container_exhibition {
	float: left;
	clear: both;
	width: 800px;
	height: 590px;
	overflow-y: auto;
	margin:0;
	margin-top: 20px;
}

div#container_done {
  float: right;
  height: 100px;
  width: 400px;
  border: 0;
  padding:0;
  background: white;
}

div#results {
  float: right;
  height: 100px;
  font-size: 18px;
  border: 0;
  padding:0;
  background: white;
  margin-bottom: 300px;
  text-align: left;
}

div#results table {
  float: left;
  border: 0;
  padding:0;
  background: white;
  text-align: left;
}
