body {
	width: 70%;
	height: 100%;
	margin: 0px auto;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: black;
}

ol {
	margin: 20px;

}

li {
	margin-bottom: 10px;
}
