/* Summary Tabke */

#pr_summary_fieldset {
  margin: 0;
  padding: 0;
}

#pr_summary_fieldset table {
  margin: 0;
  padding: 0;
}

#pr_summary_fieldset table td {
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 0 3px;
  border-right: 1px solid #CCC;
}

#pr_summary_fieldset table td:first-child {
  padding-right: 10px;
  text-align: left;
}

iframe#mainframe {
	height: 1000px;
}