/* General */

table {
  border: 0;
}

h2 {
  margin: 0;
  margin-bottom: 3px;
}

/* Creation */


div#cf {
  border: 0;
}

#cf_table {
	margin: auto;
}


div#container_creation {
	float: left;
	background: white;
	border: 0;
	margin: 0;
	padding: 0;
}


div#creation {
  width: auto;
}


table#cf_table td {
  vertical-align: top;
  padding: 5px;
}

table#cf_table td div{
  border: 0;
}

canvas#cf_canvas {
	margin: 0 auto;
}


/* Submission */

dl#sub_list{
  margin: 0 auto;
}

dl#sub_list dt{
  display: inline;
	margin: 60px;
}

#sub_list button {
  width: 100px;
  height: 100px;
  margin: 10px;
}

/* Right Part */

div#container_history {
  float: right;
  height: 560px;
  width: 40%;
  border: 0;
	padding:0;
  background: white;
}

div#history {
  height: 483px;
  vertical-align: top;
  margin-bottom: 10px;
  overflow-y: auto;
}

/* Exhibitions */


dl#all_ex  {
  margin: 0;
	font-weight: bold;
	font-size: 20px;
}

dl#all_ex dt {
	margin-top: 20px;
  padding: 5px 3px 3px 10px;
	background: #CCC;
	color: #333;
	font-size: 14px;
	font-weight: normal;
}

dl#all_ex dd {
  padding: 0;
	margin: 0;
  /*border: 1px solid #CCC;*/
	font-size: 14px;
	font-weight: normal;
	
}


dl#all_ex dt canvas{
  margin: 0;
}

table.exhibition th {
	height: 30px;
}

table.exhibition td {
  width: 105px;
	margin-bottom: 5px;
}


table.exhibition tr {
  padding: 0;
	margin: 0;
	text-align: center;
  padding: 0;
  margin: 0;
  border-right: 3px solid #CCC;
	border-bottom: 1px solid #CCC;
  
}

div#costDiv {
  border: 1px solid #CCC;
}

div#costDiv span#cost {
  font-size: 40px;
}

div#costDiv span#costWarn {
  
}


#ex_A, #ex_B, #ex_C {
	font-size: 40px;;
}
